
			<!-- about -->
			<section class="about py-3">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 about-wthree-txt my-3">
							<div class="text-wthree-txt">
								<h3> O spolku</h3>
								<p class="mt-lg-4 mt-3">Jsme nezisková organizace vzniklá za účelem sdružování podobně smýšlejících lidí.</p>
								<div class="outs_more-buttn mt-md-3 mt-3">
									<a href="about.html">Více</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 my-3">
							<div class="about-wthree-image">

							</div>
						</div>
					</div>
				</div>
			</section>
			<!--//about -->
			<!-- service -->
			<section class="service py-3">
				<div class="container">
					<div class="row">

						<div class="col-lg-6 col-md-6 my-3">
							<div class="service-wthree-txt">

							</div>

						</div>
						<div class="col-lg-6 col-md-6 about-wthree-txt my-3">
							<div class="text-wthree-txt">
								<h3>Co poskytujeme</h3>
								<p class="mt-lg-4 mt-3">V rámci naši činnosti poskytujeme základní činnosti publikační, osvětové a jiné.</p>
								<div class="outs_more-buttn mt-md-3 mt-3">
									<a href="service.html">Více</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- //service-->
			<!-- blog-->
			<section class="blog py-3">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 about-wthree-txt my-3">
							<div class="text-wthree-txt">
								<h3>Publikační činnost</h3>
								<p class="mt-lg-4 mt-3">Vydáváme publikace, které slouží k osvětě společnosti v mnoha učitečných oblastech.</p>
								<div class="outs_more-buttn mt-md-3 mt-3">
									<a href="publikace.html">Více</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 my-3">
							<div class=" blog-wthree-txt">

							</div>
						</div>
					</div>
				</div>
			</section>
			<!--//blog-->
