<!--Service -->
      <section class="service py-lg-5 py-md-4 py-3">
        <div class="container">
          <div class="row text-center">
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Publikování</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Poradenství</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Lekce</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Coaching</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Přednášky</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 my-3">
              <div class="service-wthree-grid ">
                <div class="ser-list-grid mb-3">
                  <h4>Dobrovolníci</h4>
                </div>
                <p>Nabízíme základní publikační, poradenskou a organizační činnost v souladu s cíly spolku. </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--//service -->