<!-- about -->
      <section class="about py-lg-5 py-md-4 py-3">
        <div class="container">
          <div class="about-w3layouts-img text-center">
            <img src="images/a1.jpg" alt="news image" class="img-fluid">

            <p class="mt-lg-4 mt-3">
                <strong>Následující je základním účelem spolku: </strong><br>
                (a) propagace, podpora a rozvoj celoživotního učení s cílem zvyšování všestranné kvality osobnosti jednotlivce,<br><br>
                (b) konání činností vedoucích k eliminaci sociálně vyloučených lokalit, napomáhání rozvoje rovnocenné občanské společnosti, vyvíjení aktivity sociálního začleňování, napomáhání transformaci sociálních služeb, podporování rovnosti mužů a žen, podporování a využívání principů pro sociální začleňování, podporování vědy, výzkumu a vývoje v cílových oblastech, podporování vzniku a rozvoje sociálního podnikání,<br><br>
                (c) podpory, rozvoje, šíření informovanosti i vlastního konání především vzdělávacích, sportovních, kulturních, sociálních, poradenských, zdravotně osvětových, terapeutických a výchovných akcí a projektů, jakož i jiných aktivit vedoucích k celospolečenskému rozvoji,<br><br>
                (d) spolek sdružuje osoby se zájmem o soběstačný a trvale udržitelný způsob života v rámci možností životního prostředí, jakož i koná akce, realizuje projekty či jinak se zaměřuje na ochranu životního prostředí.
            </p>

          </div>

        </div>
      </section>
      <!-- about -->